ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 40px;
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.part-logo {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .nav-link-hero {
  position: relative;
  color: #404bbf;
}

.nav-link-hero::after {
  content: '';
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  display: block;
  left: 0;
  bottom: -1px;
  position: absolute;
}

.header-nav ul a:focus,
.header-nav ul a:hover {
  color: #404bbf;
}

.contact {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  align-items: center;
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact a:focus,
.contact a:hover {
  color: #404bbf;
}

/* #endregion header */

/* #region hero */

.section-hero-title {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.section-hero-title .container {
  display: flex;
  flex-direction: column;
}

.hero-main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  padding: 0;
}

.order-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region facts section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.facts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.facts-item {
  width: calc((100% - 72px) / 4);
}

.facts-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
}

.facts-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.facts-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion facts section */

/* #region team section */

.team-section {
  background-color: #f4f4fd;
}

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.card-bottom-user {
  padding: 32px 0;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-post {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.traling-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-social {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.media-icon-social {
  fill: #f4f4fd;
}

/* #endregion team section */

/* #region portfolio section */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.service-box-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overflow-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
  padding: 40px 32px;
}

.portfolio-wrapper:hover .overflow-text {
  transform: translatey(0);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion portfolio section */

/* #region footer */

.footer-box {
  width: 264px;
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.media {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.copy-part-logo {
  color: #f4f4fd;
}

.footer-box-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-box-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-traling-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/* #endregion footer */
