.page-content{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo-studio{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.part-logo{
color: #2e2f42;
}

.item-menu ul a{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.item-menu ul a:focus,
.item-menu ul a:hover{
    color: #404bbf;
}

.contact{
    font-style: normal;
}

.contact a{
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact a:focus,
.contact a:hover{
    color: #404bbf;
}

.main-title{
    background-color: #2e2f42;
}

.main-page-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.order-button{
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500
}

.order-button:hover,
.order-button:focus{
    background-color: #404bbf;
}

.team{
    background-color: #f4f4fd;
}

.list-team{
    background-color: #ffffff;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.media{
    background-color: #2e2f42;
}

.copy-part-logo{
    color: #f4f4fd;
}

.media-text{
    color: #f4f4fd;
}